<html>
    <head>
        <title>JHH faqs-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <br><h2><strong>FAQs</strong></h2>
            <img class="img2" src="/public/images/XueweiTu.jpg" alt="Xue Wei Tu">
            <p>If you would like to know more about our services, please check on 
                <a href="service">Services</a> page</p>
            
            <% if (faqData.length == 0) { %>
                <p>No FAQs available at the moment.</p>
            <% } else { %>
                <% let i = 1;
                   faqData.forEach(function(faq) { %>
                    <h6><b>Q<%- i++ %>. <%- faq.question %></b></h6>
                    <p><%- faq.answer %></p>
                <% }) %>
            <% } %>
        </div>
    </body>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
    </footer>
</html>