<html>
    <head>
        <title>JHH listBooking-page</title>
        <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <h1 style="padding-right: 50px;">
            <img src="/public/images/Logo1.jpg" alt="JHH Logo" style="height: 40px; vertical-align: middle; margin: 10px;">
            <i>Welcome to Jun Healthcare House </i>--- for ladies only
            <img src="/public/images/Logo2.jpg" alt="JHH Logo" style="height: 40px; vertical-align: middle; margin: 10px;">
        </h1>
        <%- include('partials/navbar2.ejs') %>
        <div class="container">
            <br><h1><strong>List of Booking</strong></h1>
            <% if (bookingData.length == 0) { %>
                <p>No bookings yet.</p>
            <% } else { %>
            <table>
                <tr>
                    <th>No.</th><th>Name</th><th>Email</th>
                    <th>Phone</th><th>Date</th><th>Time</th>
                    <th></th>
                </tr>

                <% let i = 1;
                    bookingData.forEach(function(data) { %>
                <tr>
                    <td><%- i++ %></td>
                    <td><%- data.name %></td>
                    <td><%- data.email %></td>
                    <td><%- data.phone %></td>
                    <td><%- data.date ? data.date.toDateString() : "N/A" %></td>
                    <td><%- data.time ? data.time.slice(0, 5) : "N/A" %></td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="bookingId" value="<%- data.id %>" />
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </table>
            <% } %>
        </div>
    </body><br><br><br>
    <footer>
        <p>&copy; 2026 Jun Healthcare House. All rights reserved.</p>
    </footer>
</html>